version: '3.5'

services: 
  envios:
    build: ./envios-micro-service
    conainer_name: envios-micro-service
    networks:
      - kiki-docker-network
    expose:
      - 3000
    ports: 
      - "3000:3000"
  tracking: 
    build: ./tracking-micro-service
    conainer_name: tracking-micro-service
    networks:
      - kiki-docker-network
    expose:
      - 3001
    ports: 
      - "3001:3001"
  kiki-db:
    container_name: kiki-db
    hostname: kiki-db
    restart: always
    image: postgres:15.4
    expose:
      - 5432
    ports: 
      - "5432:5432"
    networks:
      - kiki-docker-network
networks:
  mlreef-docker-network:
    name: kiki-docker-network
